* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header#myHeader{
    width: 100vw;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(65, 185, 131, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

span#burger {
    color: white;
    /* display: block; */
    padding: 10px;
    font-size: 2.5rem;
}

span#burger:hover {
    cursor: pointer;
}

menu {
    display: none;
    position: absolute;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    display: block;
    padding: 10px;
    padding-left: 40px;
    text-decoration: none;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

menu > ul > li:hover {
    color:  rgba(65, 185, 131, 1);
    background-color: white;
    cursor: pointer;
}

main {
    margin-top: 140px;
}

h1.main-title, h2.subtitle {
    text-align: center;
    color: white;
    padding: 5px;
}

h1.main-title {
    margin-top: -90px;
    font-size: 3rem;
}

h2.subtitle {
    font-size: 2rem;
}

.video-container{
    position: fixed;
    width: 68%;
    padding-bottom: 56.25%; 
    height: 0;
  }

.video-container iframe{
    position: absolute;
    top:0;
    left: 40%;
    width: 68%;
    height: 50%;
    border-radius: 30px;
}

/* CAIXA DE ESCOLHA DE JOGADOR */
.select-player {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 710px;
    max-height: 310px;
    width: 100%;
    height: 100%;
}

.select-player header {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(0, 212, 255, 1);
}

.select-player .player-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-weight: 500;
    margin-top: 110px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

.select-player .player-options {
    display: flex;
    width: 100%;
}

.player-options button {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background: rgba(65, 185, 131, 1);
    border-radius: 60px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.player-options button:hover {
    transform: scale(0.96);
    background-color: white;
    color:  rgba(65, 185, 131, 1);
}

.player-options button.playerX {
    margin-right: 5px;
}

.player-options button.playerCircle {
    margin-left: 5px;
}

/* INDICADOR DE QUEM ESTÁ JOGANDO NA VEZ */
.player-turn-indicator {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-turn-indicator {
    /* display: flex; */
    background: rgba(255, 255, 255, 0.2);
    padding: 7px;
    border-radius: 60px;
    max-width: 400px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

.player-turn-indicator .players{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.player-turn-indicator .players span {
    width: 100%;
    color: white;
    border-radius: 60px;
    padding: 7px 0;
    font-size: 25px;
    font-weight: 900;
    cursor: default;
    text-align: center;
}

.players span.activate{
    color: white;
    background: rgba(0, 212, 255, 1);

}

/* TABULEIRO */
.board{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board.X .cell:not(.X):not(.circle):hover::before,
.board.X .cell:not(.X):not(.circle):hover::after,
.board.circle .cell:not(.X):not(.circle):hover::before,
.board.circle .cell:not(.X):not(.circle):hover::after {
    background: rgba(255, 255, 255, .3) !important;
}

/* CÉLULA */
.cell{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.X, .cell.circle {
    cursor: not-allowed;
}

/* REMOVE AS BORDAS EM VOLTA DO TABULEIRO */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}
/*//////////////////////////////////////*/


/* X */
.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::before,
.board.X .cell:not(.X):not(.circle):hover::after {
    content: "";
    height: calc(150px * 0.15);
    width: calc(150px * 0.9);
    background: white;
    position: absolute;
}

.cell.X::before,
.board.X .cell:not(.X):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* CIRCULO */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.X):not(.circle):hover::before,
.board.circle .cell:not(.X):not(.circle):hover::after {
    content: "";
    height: calc(150px * 0.9);
    width: calc(150px * 0.9);
    background: white;
    position: absolute;
    border-radius: 50%;
}

/* SCORE ESTILO GERAL */
.score {
    width: 300px;
    height: 300px;
    display: flex;
    position: fixed;
    top: 30%;
    left: 10%;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    font-size: 2.5rem;
    color: white;
}

/* PLACAR DE QUANTIDADE DE VITÓRIAS DO X */
.x-score-board {
    top: 30%;
    left: 10%;
    right: 0;
    bottom: 0;
}
/*//////////////////////////////////////*/

/* PLACAR DE QUANTIDADE DE VITÓRIAS DO O */
.circle-score-board {
    top: 30%;
    left: 75%;
    right: 0;
    bottom: 0;
}
/*//////////////////////////////////////*/

/* MENSAGEM DE VITÓRIA */
.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    flex-direction: column;
}

.restart-button {
    font-size: 2.5rem;
    background-color:  rgba(65, 185, 131, 1);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    margin-top: 16px;
    color: white;
    transition: all 0.3s ease;
}

.restart-button:hover {
    transform: scale(0.96);
    background-color: white;
    color:  rgba(65, 185, 131, 1);
}

.restart-button-position{
    display: flex;
    position: fixed;
    top: 810px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide-element {
    display: none;
}

.winning-message-text {
    color: white;
    font-size: 5rem;
}

.show-winning-message {
    display: flex;
}